/* стили для мейн каталог */

main {
    margin: 0px 110px;
}

.category {
    display: block;
    margin-left: 110px;
}

.title_category {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Montserrat';
    margin-top: 60px;
    margin-bottom: 15px;
}

.page {
    font-family: 'Crimson Text';
    font-size: 20px;
    font-style: italic;
}

.active {
    opacity: 0.5;
}

.page__next {
    margin: 0px 20px;
}

.category__list {
    display: flex;
    position: relative;
    max-width: 1080px;
    flex-wrap: wrap;
    grid-gap: 20px;
    margin-top: 50px;
    margin-bottom: 55px;
}

.category__list_items {
    display: block;
    position: relative;
    width: 280px;
    height: 270px;
}

.category__list_items:nth-child(n+4):nth-child(-n+4) {
    margin-left: 200px;
}

.category__img {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.category__name {
    z-index: 1;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #FFFFFF;
}

.category__name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.product {
    margin-left: 310px;
    width: 680px;
}

.product__title {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 38px;
    margin: 0;
    margin-bottom: 25px;
}

.product__text {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
}