/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.center {
    width: 1400px;
    margin: 0 auto;
}

/* Стили для хедера */

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    margin-left: 109px;
    margin-bottom: 40px;
    margin-right: 110px;
    text-transform: uppercase;
    font-size: 14px;
    width: 1178px;
    height: 52px;
}

.header a {
    color: #1E0606;
}

.header a:hover {
    opacity: 0.5;
}

.header a:focus {
    opacity: 0.3;
}

.header__link {
    margin-right: 60px;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-grid-row-align: center;
        align-self: center;
    font-weight: 400;
    padding: 0px;
    grid-gap: 20px;  /* расстояние между ссылками */
}

.contact__us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-weight: 700;
    padding: 0px;
    margin-left: 678px;
}

.img__search {
    margin-right: 23px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}


/* стили для футера */

.footer {
    background-color: #434343;
    padding: 100px 110px;
    display: block;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 50px;
}

.footer__list {
    margin-left: 110px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    grid-gap: 20px;
    width: 1180px;
}

.footer__nav a {
    color: #FFFFFF;
}

.footer__nav_list {
    display: block;
    width: 380px;
    margin: 28px 0px;
    color: #FFFFFF;
}

.footer__nav_list_items {
    margin-bottom: 15px;
}

.footer__title {
    color: #AAAAAA;
    margin-bottom: 23px;
}

.line {
    margin: 0;
    border: none;
    border-top: 1px solid #666666;
    max-width: 1180px;
}

.line_2 {
    margin: 0;
    border: none;
    border-top: 1px solid #666666;
    max-width: 1180px;
    margin-left: 110px;
}

.input_email {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.label__email {
    margin: 25px 0px;
    padding: 0;
    border: 0;
    width: 365px;
    height: 40px;
    padding-left: 15px;
    background-color: #666666;
    color: #EBEBEB;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-family: 'Open Sans';
    outline: none;
}

.label__email::-webkit-input-placeholder {
    color: #EBEBEB;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-family: 'Open Sans';
}

.label__email::-moz-placeholder {
    color: #EBEBEB;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-family: 'Open Sans';
}

.label__email:-ms-input-placeholder {
    color: #EBEBEB;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-family: 'Open Sans';
}

.label__email::-ms-input-placeholder {
    color: #EBEBEB;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-family: 'Open Sans';
}

.label__email::placeholder {
    color: #EBEBEB;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    font-family: 'Open Sans';
}

.label__email:focus {
    outline: 1px solid white;
}

.button__join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Open Sans';
    background-color: #000000;
    text-transform: uppercase;
    font-style: normal;
    padding: 9px 22px;
    font-weight: 700;
    line-height: 22px;
    border: 0;
    cursor: pointer;
}

.button__join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 25px;
    right: 0px;
}

.footer__list_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 10px;
}

.footer__list_items_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 23px;
    margin-left: 110px;
}

.footer__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__title {
    margin: 0;
    padding: 0;
    padding-right: 25px;
    padding-bottom: 23px;
    color: #AAAAAA;
}

.footer__title_rating {
    margin: 0;
    padding: 0;
    padding-right: 25px;
    padding-bottom: 23px;
    color: #FFFFFF;
}

.footer__copyright {
    margin: 0;
    margin-left: 155px;
    margin-right: 109px;
    color: #FFFFFF;
}

.footer__link {
    color: #A2A2A2;
}
.footer__link:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

.footer__nav_list_items:hover {
    opacity: 0.5;
}

.footer__nav_list_items:active{
    opacity: 0.2;
}

.footer__list_items_logo:hover {
    opacity: 0.5;
}

.footer__list_items_logo:active {
    opacity: 0.2;
}



/* рейтинг */

.rating-area {
	overflow: hidden;
    margin: 0;
    width: 97px;
}

.rating-area:not(:checked) > input {
	display: none;
}

.rating-area:not(:checked) > label {
	float: right;
    margin: 0;
	padding: 0;
	cursor: pointer;
	font-size: 16px;
	color: #FFFFFF;
}

.rating-area:not(:checked) > label:before {
	content: '★';
}

.rating-area > input:checked ~ label {
	color: #C29974;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #836E5B;
}

/* .rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label, */
.rating-area > label:hover ~ input:checked ~ label {
	color: #C29974;
}

.rate-area > label:active {
	position: relative;
}