/* стили для контакт ас */

.category {
    display: block;
    margin: 0px 110px;
}


.title_category {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Montserrat';
    margin-top: 60px;
    margin-bottom: 15px;
}

.page {
    font-family: 'Crimson Text';
    font-size: 20px;
    font-style: italic;
    color: #1E0606;
}

.active {
    opacity: 0.5;
}

.page__next {
    margin: 0px 20px;
}

.contact__content {
    display: flex;
    margin: 50px 110px 60px 110px;

}

.contact__form {
    display: flex;
}

.contact__list {
    box-sizing: border-box;
    width: 680px;
    height: 542px;
    background-color: #E5EAF8;
    padding: 42px 40px;
}

.input__label {
    font-family: 'roboto';
    font-size: 14px;
    color: #1E0606;
}

.input__name {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 18px;
    padding-left: 20px;
}

.contact__list_items {
    display: inline-block;
    box-sizing: border-box;
}

.input__phone{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 50px;
    width: 290px;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 15px;
    font-size: 18px;
    padding-left: 20px;
}

.input__email {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    width: 290px;
    height: 50px;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 18px;
    padding-left: 20px;
}

textarea {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 140px;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.input__check {
    display: none;
    position: absolute;
    /* margin: 0;
    border: 2px solid #C29974;
    border-radius: 3px;
    width: 19px;
    height: 19px; */
}

.checkbox__input {
    display: flex;
    column-gap: 15px;
    padding-bottom: 17px;
    position: relative;
    height: 22px;
}

.checkbox__input .input__label {
    padding-left: 34px;
}

.checkbox__input .input__label::before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
}

.checkbox__input .input__label::after {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    background: url(/static/icons/check.svg) no-repeat;
    position: absolute;
    top: 0.1px;
    left: 3.6px;
    z-index: 2;
    opacity: 0;
    box-sizing: border-box;
    transition: opacity .1s linear;
}

.input__check:checked + .input__label::after {
    opacity: 1;
}

.checkbox__input .input__label:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* input[type="checkbox"] {
    display: none;
    position: absolute;
} */

/* .checkbox__input .input__label::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 15px;
} */

/* input[type="checkbox"]:checked + label::before {
    background-image: url(/static/icons/check.svg);
} */


.button__submit {
    box-sizing: border-box;
    font-size: 16px;
    text-transform: uppercase;
    padding: 9px 22px;
    background-color: #000000;
    border: none;
    color: #E1E1E1;
    font-weight: 700;
}

.button__submit:hover {
    background-color: #C29974;
    cursor: pointer;
}

.button__submit:disabled {
    background-color: #C1C1C1;
    cursor: default;
}

.contact__info {
    margin-left: 120px;
    width: 380px;
}

.p__text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}

.p__wait {
    color: #C29974;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 34px;
}