body {
    font-family: 'Open Sans';
    src: url();
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    
}

a:visited {
    color: #000000;
}

p {
    margin: auto 0;
    padding: auto 0;
}

.company__title {
    display: none;
}