
/* стили для мейна */

.category {
    display: block;
    margin-bottom: 50px;
    margin-left: 110px;
}

.title_category {
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Montserrat';
    margin-top: 60px;
    margin-bottom: 15px;
}

.page {
    font-family: 'Crimson Text';
    font-size: 20px;
    font-style: italic;
    color: #1E0606;
}

.active {
    opacity: 0.5;
}

.page__next {
    margin: 0px 20px;
}

.filter__title {
    display: none;
}

.filter {
    padding-left: 110px;
    display: flex;
}

.filter::after {
    content: '';
    display: block;
    width: 100%;
    height: 254px;
    background: rgba(125, 151, 218, 0.2);;
    position: absolute;
    z-index: -1;
    top: 301px;
    left: 0;
}

.filter__list {
    display: flex;
}

.filter__list_items {
    display: block;
}

.filter__name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 42px;
}

.filter__range {
    /* margin-left: 12px; */
    margin-right: 14px;
}

.filter__cost_range {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    justify-content: space-between;
    padding-top: 12px;
    /* margin-left: 10px; */
}

input[type=range] {
    width: 188px;
    appearance: none;
    outline: none;
    /* overflow: hidden; */
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background-color: rgb(119, 119, 119);
}

input[type=range]::-webkit-slider-thumb {
    cursor: pointer;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    margin-top: -10px;
    background: #ffffff;
    border: 8px solid #C29974;
    border-radius: 50%;

    /* box-shadow: -199px 0 0 188px #C29974; */
}

.filter__color {
    width: 75px;
    margin-left: 94px;
    margin-bottom: 42px;
}

.input__color {
    /* margin: 0;
    padding: 0;
    margin-bottom: 15px;
    margin-right: 6px;
    width: 19px;
    height: 19px; */
    display: none;
    position: absolute;
}

.filter__checkbox {
    display: flex;
    position: relative;
    margin-bottom: 15px;
}

.filter__checkbox .label__color {
    padding-left: 29px;
}

.label__color::before {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
}

.label__color::after {
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    background: url(/static/icons/check.svg) no-repeat;
    position: absolute;
    top: 0.1px;
    left: 3.6px;
    z-index: 2;
    opacity: 0;
    box-sizing: border-box;
    transition: opacity .1s linear;
}

.input__color:checked + .label__color::after {
    opacity: 1;
}

.input__color:checked + .label__color::before {
    background-color: #FFFFFF;
    transition: opacity .1s linear;
}

.label__color:hover {
    text-decoration: underline;
    cursor: pointer;
}

.filter__delivery {
    margin-left: 124px;
    width: 131px;
}



.input__delivery {
    display: flex;
    margin-bottom: 10px;
    position: relative;

}

.input_radio__delivery {
    /* width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 10px; */
    display: none;
    position: absolute;
    
}

.label_radio__delivery {
    margin-left: 30px;
}

.label_radio__delivery::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #C29974;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.label_radio__delivery::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #C29974;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 2;
    position: absolute;
    top: 4px;
    left: 4px;
    opacity: 0;
    transition: opacity .1s linear;
}

.input_radio__delivery:checked + .label_radio__delivery::after {
    opacity: 1;
}

.label_radio__delivery:hover {
    text-decoration: underline;
    cursor: pointer;
}



.filter__amount {
    margin-left: 69px;
}

.label__amount {
    display: flex;
    background-color: #FFFFFF;
    width: 80px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.filter__amount input[type=radio] {
    display: none;
}

.label__amount:hover {
    background-color: #EDDEEB;
    cursor: pointer;
}

.filter__radio_button {
    display: flex;
    margin-right: 60px;
}

.input__amount:checked + label {
    background-color: #F3D0DB;
}

.filter__submit {
    margin-top: 79px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 9px 22px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.filter__submit:hover {
    cursor: pointer;
    background-color: #C29974;
}

.catalog {
    padding: 60px 110px 50px 110px;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog__list_items {
    display: block;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    height: 497px;
}

.catalog__pic {
    display: flex;
    position: relative;
}

.learn_more {
    position: absolute;
    top: 89px;
    left: 84px;
    background: #E5EAF8;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    color: #1E0606;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    padding: 82px 12px 96px 11px;
    opacity: 0;
}

.catalog__items_pic:hover + .learn_more {
    opacity: 0.9;
}

.learn_more:hover {
    opacity: 0.9;
}

.catalog__items_pic:active + .learn_more {
    opacity: 0.67;
}

.learn_more:active {
    opacity: 0.67;
}

.catalog__items_name {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 19px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.catalog__items_price {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 22px;
}

.pages{
    display: flex;
    margin: 0px 113px 60px 113px;
}

.pages__list {
    display: flex;
    gap: 64px;
    margin-left: 467px;
    margin-right: 467px;
    align-items: center;
}

.pages__list_items {
    font-weight: 700;
    font-size: 16px;
    font-family: 'Montserrat';
}

.pages_active a {
    color: #C29974;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Montserrat';
}

.pages__list_items a {
    color: #1E0606;
}